@media #{$small-only} {
    .container {
        margin: 0 auto;
        width: 90%;
    }
    .main-nav {
        .nav-inner {
            margin: 0 auto;
            width: 90%;
            .brand {
                margin-left: -20px;
            }
        }
    }
    .project-page {
        .project-title {
            .line {
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
        .project-roles {
            text-align: center;
            margin: 20px 0;
            li {
                display: inline-block;
                margin-right: 8px;
                &::after {
                    content: ', ';
                }
                &:last-child {
                    &::after {
                        content: '';
                    }
                }
            }
        }
        .project-nav-wrap {
            margin: 20px 0 100px;
            .project-nav {
                max-width: 40%;
                &.next, &.previous {
                    margin-top: 50px;
                }
            }
        }
    }
    #banner {
        height: 200px;
    }
    #resume {
        .company:last-child {
            margin-bottom: 50px;
        }
        .skills-list {
            li {
                display: inline;
                margin-right: 8px;
                &::after {
                    content: ', ';
                }
                &:last-child {
                    &::after {
                        content: '';
                    }
                }
            }
        }
    }
    #contact {
        .contact-list {
            li:first-child {
                display: block;
                margin-bottom: 10px;
            }
        }
    }
    .footer {
        p {
            text-align: center;
        }
        .footer-location {
            text-align: center;
            margin-top: 10px;
        }
    }
}
@media #{$medium-up} { 
    .row .columns:first-child {
    padding-left: 0px;
    }
    .row .columns:last-child {
        padding-right: 0px;
    }
}
@media #{$medium-only} {
    #banner {
        height: 300px;
    }
}

@media screen and (max-width: 500px) {
    #work {
        .projects {
            li {
                width: 100%;
            }
        }
    }
}