@media #{$small-only} {
    .container {
        margin: 0 auto;
        width: 90%;
    }
    .main-nav {
        .nav-inner {
            margin: 0 auto;
            width: 90%;
            .brand {
                margin-left: -20px;
            }
        }
    }
    .project-page {
        .project-title {
            .line {
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
        .project-roles {
            text-align: center;
            margin: 30px 0 10px;
            li {
                display: inline-block;
                margin-right: 8px;
                &::after {
                    content: ', ';
                }
                &:last-child {
                    &::after {
                        content: '';
                    }
                }
            }
        }
        .project-nav-wrap {
            margin: 20px 0 100px;
            .project-nav {
                max-width: 40%;
                &.next, &.previous {
                    margin-top: 50px;
                }
            }
        }
    }
    footer {
        span {
            display: none;
        }
        a[href="../../resume.pdf"], a[href="resume.pdf"] {
            float: left;
        }
    }
}
@media #{$medium-up} { 
    .row .columns:first-child {
    padding-left: 0px;
    }
    .row .columns:last-child {
        padding-right: 0px;
    }
}

@media screen and (max-width: 500px) {
    #work {
        .projects {
            li {
                width: 100%;
            }
        }
    }
}