@media #{$small-only} {
    .container {
        margin: 0 auto;
        width: 90%;
    }
    .main-nav {
        .nav-inner {
            margin: 0 auto;
            width: 90%;
            .brand {
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #work {
        .projects {
            li {
                width: 100%;
            }
        }
    }
}