@import "settings";
@import "foundation/components/block-grid",
"foundation/components/clearing",
"foundation/components/grid",
"foundation/components/inline-lists",
"foundation/components/reveal",
"foundation/components/top-bar",
"foundation/components/type",
"foundation/components/visibility";

body {
    letter-spacing: 0.03rem;
    -webkit-font-smoothing: antialiased;
}
a {
    color: $jet;
    transition: color 0.2s ease;
    &:hover {
        color: $primary-color;
        transition: color 0.2s ease;
    }
}
p {
    a {
        color: $primary-color;
        transition: color 0.2s ease;
        &:hover {
            color: darken($primary-color, 10%);
            transition: color 0.2s ease;
        }
    }
}
.row {
    max-width: 1310px;
}
.container {
    margin: 0 65px;
}
.page-container {
    margin-top: 100px;
}
.section-header {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.09em;
        margin-bottom: 30px;
        font-size: 14px;
    }

.main-nav {
    position: fixed;
    z-index: 100000;
    top: 0;
    height: 65px;
    width: 100%;
    background-color: white;
    line-height: 4.64286rem;
    .nav-inner {
        margin: 0 65px;
        a {
            transition: all 0.5s ease;
            &:hover {
                transition: all 0.2s ease;
            }
        }
        .brand {
            text-transform: uppercase;
            font-weight: 700;
            margin-left: 130px;
            font-size: 17px;
            letter-spacing: 0.1rem;
        }
        .contact-icons {
            line-height: 4.64286rem;
        }
        .menu-icon {
            font-size: 16px;
        }
    }
    .menu {
        position: absolute;
        left: 1px;
        background: lighten($primary-color, 70%);
        padding: 20px 45px;
        li {
            padding: 8px 0;
            text-transform: uppercase;
        }
    }
}

#work {
    margin-bottom: 50px;
    .projects {
        li {
            transition: all 0.2s ease-in-out;
            margin-bottom: 10px;
            a {
                .img-wrap {
                    margin-bottom: 10px;
                    transition: opacity 0.2s ease-in-out;
                }
                span {
                    transition: color 0.2s ease-in-out;
                }
                &:hover {
                    .img-wrap {
                        opacity: 0.5;
                    }
                    span {
                        transition: color 0.2s ease-in-out;
                    }
                }
            }
        }
    }
}

.footer {
    background-color: white;
    line-height: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 20px 0 15px;
    p {
        margin-bottom: 0;
    }
    .container {
        margin: 0 65px;
    }
}

#banner {
    background: $primary-color url('../img/elise.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
}
#about {
    padding: 50px 0;
    background-color: #DAF2EE;
}
#contact {
    background-color: white;
    border-bottom: 1px solid #aaa;
    padding: 50px 0 20px;
    ul {
        display: inline-block;
        li {
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 0.09em;
            margin: 0 15px;
            a {
                color: $primary-color;
                span {
                    color: $jet;
                }
                
            }
        }
        .separator {
                color: #aaa;
            }
    }
    
}
#resume {
    margin: 50px 0;
    .company {
        margin-bottom: 30px;
    }
    .company-logo {
        width: 50px;
        position: absolute;
    }
    .company-info {
        margin-left: 70px;
        .company-name {
            font-size: 18px;
            font-weight: bold;
            font-size: 18px;
        }
        .date, .location {
            font-size: 14px;
            color: #aaa;
        }
    }
    .skills-list {
        li {
            padding: 4px 0;
        }
    }
}

@import "projects";
@import "responsive";