@import "settings";
@import "foundation/components/block-grid",
"foundation/components/clearing",
"foundation/components/grid",
"foundation/components/inline-lists",
"foundation/components/reveal",
"foundation/components/top-bar",
"foundation/components/type",
"foundation/components/visibility";

body {
    // letter-spacing: 0.03rem;
    -webkit-font-smoothing: antialiased;
}
a {
    color: $jet;
    transition: color 0.35s ease;
    &:hover {
        color: $primary-color;
        transition: color 0.35s ease;
    }
}
p {
    a {
        color: $primary-color;
        transition: color 0.35s ease;
        &:hover {
            color: darken($primary-color, 10%);
            transition: color 0.35s ease;
        }
    }
}
.row {
    max-width: 1310px;
}
.container {
    margin: 0 65px;
}
.page-container {
    margin-top: 65px;
}
.section-header {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.09em;
    margin-bottom: 30px;
    font-size: 14px;
}

.main-nav {
    position: fixed;
    z-index: 100000;
    top: 0;
    height: 65px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    align-items: center;
    .nav-inner {
        margin: 0 65px;
        display: flex;
        flex: 1;
        justify-content: space-between;
        a {
            transition: all 0.5s ease;
            &:hover {
                transition: all 0.2s ease;
            }
        }
        .brand {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 17px;
            letter-spacing: 0.1rem;
        }
        .menu-icon {
            opacity: 1;
            width: 22px;
            height: 22px;
            padding-top: 4px;
            cursor: pointer;
            overflow: hidden;
            span {
                display: block;
                height: 0;
                padding-bottom: 4px;
                border-top: 2px solid #000;
                -webkit-transition: all ease 0.2s;
                width: 22px;
            }
            .line1 {
                -webkit-transform: rotate(0deg) translateX(-4px);
                -moz-transform: rotate(0deg) translateX(-4px);
                transform: rotate(0deg) translateX(-4px);
            }
            .line2 {
                -webkit-transform: rotate(0deg) translateX(0px);
                -moz-transform: rotate(0deg) translateX(0px);
                transform: rotate(0deg) translateX(0px);
            }
            .line3 {
                -webkit-transform: rotate(0deg) translateX(-8px);
                -moz-transform: rotate(0deg) translateX(-8px);
                transform: rotate(0deg) translateX(-8px);
            }
            &:hover {
                .line1 {
                    -webkit-transform: rotate(0deg) translateX(0);
                    -moz-transform: rotate(0deg)  translateX(0);
                    transform: rotate(0deg) translateX(0);
                }
                .line3 {
                    -webkit-transform: rotate(0deg) translateX(0);
                    -moz-transform: rotate(0deg) translateX(0);
                    transform: rotate(0deg) translateX(0);
                }
            }
        }
    }
    .menu {
        position: absolute;
        left: 1px;
        background: lighten($primary-color, 70%);
        padding: 20px 45px;
        li {
            padding: 8px 0;
            text-transform: uppercase;
        }
    }
}

#intro {
    height: 350px;
    background-color: #DAF2EE;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        max-width: 800px;
    }
    h1 {
        font-size: 3.2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    .wave {
        width: 120px;
        height: 0;
        display: block;
        margin-top: 40px;
        margin-bottom: 20px;
        border-bottom: 3px solid $primary-color;
    }
}

#work-nav {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    .work-nav {
        margin: 0 2.5rem 0 0;
        text-transform: uppercase;
        li {
            margin-left: 2.5rem;
        }
    }
}

#work {
    padding: 50px 0;
    .container {
        display: flex;
    }
    .col {
        display: flex;
        flex: 1;
        flex-direction: column;
        &.left {
            margin-right: 45px;
        }
        .project {
            margin-bottom: 45px;
            .img-wrap {
                width: inherit;
                height: inherit;
            }
            &.dribbble {
                background-color: #ea4c89;
                width: 100%;
                height: 240px;
                padding: 40px;
                color: white;
            }
        }
    }
}


.footer {
    background-color: white;
    line-height: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 20px 0 15px;
    p {
        margin-bottom: 0;
    }
    .footer-location {
        text-align: right;
    }
}

#banner {
    background: $primary-color url('../img/elise.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
}
#about {
    padding-bottom: 50px;
    background-color: #DAF2EE;
    h2 {
        padding-top: 50px;
    }
}
#contact {
    background-color: white;
    border-bottom: 1px solid #EAEAEA;
    padding: 40px 0 20px;
    .contact-list {
        margin-left: 0px;
        display: inline-block;
        li {
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 0.09em;
            margin: 0 15px;
            a {
                color: $primary-color;
                span {
                    color: $jet;
                }

            }
        }
        .separator {
            color: #aaa;
        }
    }

}
#resume {
    margin: 50px 0;
    .company {
        margin-bottom: 30px;
    }
    .company-logo {
        width: 50px;
        position: absolute;
        transition: all 0.2s ease;
        &:hover {
            opacity: 0.7;
            transition: all 0.2s ease;
        }
    }
    .company-info {
        margin-left: 70px;
        .company-name {
            font-size: 18px;
            font-weight: bold;
            font-size: 18px;
        }
        .date, .location {
            font-size: 14px;
            color: #aaa;
        }
    }
    .skills-list {
        li {
            padding: 4px 0;
        }
    }
}
