@import "settings";
@import "foundation/components/block-grid",
"foundation/components/buttons",
"foundation/components/clearing",
"foundation/components/grid",
"foundation/components/inline-lists",
"foundation/components/reveal",
"foundation/components/top-bar",
"foundation/components/type",
"foundation/components/visibility";

body {
    letter-spacing: 0.05rem;
}
.container {
    margin: 0 65px;
}
nav {
    .nav-inner {
        margin: 0 65px;
    }
}

@import "responsive";